@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aeonik:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aeonik+Pro:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai:wght@400&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --text-26px-regular: Inter;
  --heading-01: Syne;
  --body-xsmall-regular: Aeonik;
  --font-aeonik-pro: "Aeonik Pro";
  --font-space-grotesk: "Space Grotesk";
  --body-large-extrabold: Manrope;
  --button-2: "DM Sans";
  --caption-3-medium: Poppins;
  --body-small-regular: Rubik;
  --components-button-large: Roboto;
  --font-baloo-bhai: "Baloo Bhai";

  /* font sizes */
  --body-small-medium-size: 0.88rem;
  --body-medium-regular-size: 1rem;
  --font-size-18xl-8: 2.36rem;
  --body-xsmall-regular-size: 0.75rem;
  --heading-h4-size: 1.5rem;
  --heading-h2-size: 2.5rem;
  --text-18px-regular-size: 1.13rem;
  --body-large-regular-size: 1.25rem;
  --font-size-mini-4: 0.9rem;
  --font-size-5xs: 0.5rem;
  --font-size-6xs: 0.44rem;
  --font-size-3xs-1: 0.57rem;
  --text-22px-semibold-size: 1.38rem;
  --font-size-29xl: 3rem;
  --text-26px-regular-size: 1.63rem;
  --heading-01-size: 5rem;
  --bold-15-size: 0.94rem;
  --semi-bold-11-size: 0.69rem;
  --font-size-mid: 1.06rem;
  --font-size-2xl: 1.31rem;
  --font-size-41xl: 3.75rem;
  --caption-3-medium-size: 0.63rem;
  --title-large-medium-size: 2rem;
  --heading-h1-size: 4rem;
  --card-title-size: 1.19rem;
  --font-size-sm-5: 0.84rem;
  --font-size-xs-2: 0.7rem;
  --font-size-3xl-4: 1.4rem;
  --font-size-base-5: 1.03rem;
  --font-size-4xl-9: 1.49rem;
  --font-size-9xl-4: 1.78rem;
  --font-size-2xs-5: 0.66rem;
  --font-size-mid-9: 1.12rem;
  --font-size-3xs-7: 0.61rem;
  --font-size-4xs: 0.56rem;
  --font-size-6xl: 1.56rem;
  --font-size-48xl: 4.19rem;
  --font-size-9xl: 1.75rem;
  --font-size-26xl: 2.81rem;
  --font-size-4xl: 1.44rem;
  --font-size-11xl: 1.88rem;
  --font-size-30xl: 3.06rem;

  /* Colors */
  --main-colors-white: #fff;
  --neutrals-4: #777e90;
  --greyscale-600: #718096;
  --neutral-500: #717184;
  --gray-500: #667085;
  --neutrals-8: #fcfcfd;
  --color-gray-100: #8e8e94;
  --neutral-grey-3: #828282;
  --secondary-colors-medium-grey: #7d7d7d;
  --deep-grey: #292929;
  --neutrals-2: #23262f;
  --text-color: #1d263a;
  --black-800: #212121;
  --greyscale-900: #1a202c;
  --shade-2-20: #17181b;
  --black: #12141d;
  --neutral-900: #131316;
  --color-primary: #0d0d2b;
  --black-900: #121212;
  --color-gray-200: rgba(255, 255, 255, 0.3);
  --color-gray-300: rgba(255, 255, 255, 0.1);
  --text-primary: rgba(0, 0, 0, 0.87);
  --transparent: rgba(255, 255, 255, 0);
  --color-gray-400: rgba(255, 255, 255, 0.92);
  --color-gray-500: rgba(0, 0, 0, 0.04);
  --neutral-dark-100: #251c49;
  --color-darkslateblue-100: #0c2452;
  --primary-shades-400: #d6d1fa;
  --neutral-grey-6: #000;
  --color-lavender-200: #d1dffa;
  --color-lavender-100: #ccdcec;
  --color-midnightblue-100: #0b3299;
  --hireme-royal-blue: #032170;
  --color-secondary: #2b076e;
  --color-midnightblue-200: #0f054c;
  --main-colors-black: #0e0637;
  --primary-4: #58bd7d;
  --states-success: #11cf8b;
  --chart-green: #00c076;
  --color-mediumseagreen-100: rgba(88, 189, 125, 0.3);
  --states-error: #fb3766;
  --color-crimson-100: #ff325f;
  --neutral-400: #9c9cab;
  --color-darkgray-100: #999;
  --neutral-50: #f9f9fa;
  --neutral-100: #f4f4f6;
  --gray-6: #f2f2f2;
  --shade-6-50: #f1f2f4;
  --color-whitesmoke-100: #eaeaea;
  --neutrals-6: #e6e8ec;
  --neutral-200: #e3e3e8;
  --neutral-grey-5: #e0e0e0;
  --neutral-grey: #d8d8d8;
  --color-gainsboro-100: rgba(226, 226, 226, 0.1);
  --main-colors-primary: #5235e8;
  --neutral-300: #c8c8d0;
  --black-400: #c4c4c4;
  --color-silver-100: #bdbdbd;
  --neutrals-5: #b1b5c3;
  --color-accent: #3671e9;
  --color-royalblue-100: #2770fd;
  --neutral-700: #42424d;
  --text-blue: #3e3e59;
  --color-darkslategray-100: #424242;
  --solid-02-black-700: #3f3b3b;
  --neutrals-3: #353945;
  --neutral-800: #2f2f37;
  --color-darkslategray-200: #303030;
  --greyscale-200: #edf2f7;
  --greyscale-300: #e2e8f0;
  --gray-300: #d0d5dd;
  --greyscale-400: #cbd5e0;
  --color-lightgray-100: rgba(210, 210, 210, 0.3);
  --primary-base: #329f70;
  --primary-3: #ff6838;
  --color-tomato-100: rgba(255, 104, 56, 0.35);
  --color-lightsteelblue: #b9c1d9;
  --greyscale-500: #a0aec0;
  --color-indigo: #491f98;
  --color-aqua: #42ffff;
  --color-navy-100: #0331ac;
  --color-navy-200: #35068c;
  --color-mediumaquamarine: #6edcb5;
  --color-aquamarine: #8fffbe;
  --color-orange: #f99a0e;
  --color-cornflowerblue-100: #1262af;
  --color-cornflowerblue-200: #1262ae;
  --color-dimgray: #616161;
  --color-ghostwhite: #f4f6fb;

  /* Gaps */
  --gap-45xl: 4rem;
  --gap-153xl: 10.75rem;
  --gap-base: 1rem;
  --gap-5xs: 0.5rem;
  --gap-29xl: 3rem;
  --gap-21xl: 2.5rem;
  --gap-25xl: 2.75rem;
  --gap-13xl: 2rem;
  --gap-27xl: 2.88rem;
  --gap-81xl: 6.25rem;
  --gap-16xl: 2.19rem;
  --gap-8xl: 1.69rem;
  --gap-smi: 0.81rem;
  --gap-61xl: 5rem;
  --gap-5xl: 1.5rem;
  --gap-37xl: 3.5rem;
  --gap-xl: 1.25rem;
  --gap-9xs: 0.25rem;
  --gap-10xs: 0.19rem;
  --gap-17xl: 2.25rem;
  --gap-xs: 0.75rem;
  --gap-7xs: 0.38rem;
  --gap-3xs: 0.63rem;
  --gap-11xs: 0.13rem;
  --gap-6xs: 0.44rem;
  --gap-3xl-4: 1.4rem;
  --gap-5xs-5: 0.47rem;
  --gap-mini: 0.94rem;
  --gap-mid-2: 1.08rem;
  --gap-4xs-2: 0.51rem;
  --gap-8xs-5: 0.28rem;
  --gap-mid-9: 1.12rem;
  --gap-10xs-2: 0.14rem;
  --gap-12xs: 0.06rem;
  --gap-7xl-9: 1.68rem;
  --gap-lgi: 1.19rem;

  /* Paddings */
  --padding-81xl: 6.25rem;
  --padding-43xl: 3.88rem;
  --padding-45xl: 4rem;
  --padding-2xs: 0.69rem;
  --padding-5xl: 1.5rem;
  --padding-xl: 1.25rem;
  --padding-5xs: 0.5rem;
  --padding-xs: 0.75rem;
  --padding-69xl: 5.5rem;
  --padding-61xl: 5rem;
  --padding-0: 0rem;
  --padding-101xl: 7.5rem;
  --padding-sm: 0.88rem;
  --padding-13xl: 2rem;
  --padding-8xs: 0.31rem;
  --padding-smi: 0.81rem;
  --padding-3xs: 0.63rem;
  --padding-7xs: 0.38rem;
  --padding-base: 1rem;
  --padding-21xl: 2.5rem;
  --padding-9xs: 0.25rem;
  --padding-27xl: 2.88rem;
  --padding-11xl: 1.88rem;
  --padding-mini: 0.94rem;
  --padding-base-4: 1.02rem;
  --padding-40xl-8: 3.74rem;
  --padding-4xs: 0.56rem;
  --padding-xs-2: 0.7rem;
  --padding-3xs-7: 0.61rem;
  --padding-9xs-7: 0.23rem;
  --padding-10xs: 0.19rem;
  --padding-10xs-2: 0.14rem;
  --padding-8xs-5: 0.28rem;
  --padding-34xl: 3.31rem;
  --padding-11xl-7: 1.92rem;

  /* border radiuses */
  --br-11xl: 30px;
  --br-5xl: 24px;
  --br-49xl: 68px;
  --br-21xl: 40px;
  --br-9xs: 4px;
  --br-12xs: 1px;
  --br-5xs: 8px;
  --br-6xs-9: 6.9px;
  --br-8xs-5: 4.5px;
  --br-7xs: 6px;
  --br-74xl: 93px;
  --br-base: 16px;
  --br-xs: 12px;
  --br-41xl: 60px;
  --br-20xl: 39px;
  --br-19xl: 38px;
  --br-mini: 15px;
  --br-81xl: 100px;
  --br-11xs: 2px;
  --br-13xl: 32px;
  --br-10xs: 3px;
  --br-4xl-2: 23.2px;
  --br-5xs-5: 7.5px;
  --br-28xl-8: 47.8px;
  --br-3xs: 10px;
  --br-16xl: 35px;
  --br-8xl: 27px;
  --br-6xl: 25px;

  /* Effects */
  --shadow-xs: 0px 1px 2px rgba(16, 24, 40, 0.05);
  --depth-4: 0px 64px 64px -48px rgba(15, 15, 15, 0.1);
}
