.usabalityOfOur {
  margin: 0;
}
.usabalityOfOurContainer {
  position: relative;
  line-height: 2.98rem;
  display: inline-block;
  width: 43.94rem;
  height: 6rem;
  flex-shrink: 0;
}
.cardselevationflat {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs-5) var(--br-8xs-5) 0 0;
  background-color: var(--black);
  width: 20.25rem;
  height: 2.25rem;
}
.trade {
  position: relative;
  font-weight: 600;
  display: inline-block;
  width: 5.06rem;
  height: 1.06rem;
  flex-shrink: 0;
}
.dotsIcon {
  position: relative;
  width: 2.03rem;
  height: 0.45rem;
}
.div10,
.div9,
.text2 {
  position: absolute;
  display: flex;
  align-items: center;
}
.text2 {
  top: 0.62rem;
  left: 1.13rem;
  width: 18rem;
  height: 1.06rem;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10.88rem;
}
.div10,
.div9 {
  top: 8.03rem;
  left: 0;
  width: 0.35rem;
  height: 0.68rem;
  opacity: 0.34;
}
.div10 {
  top: 5.35rem;
  width: 0.37rem;
}
.div11 {
  top: 2.68rem;
  width: 0.37rem;
}
.div11,
.div12,
.div13,
.div14 {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  height: 0.68rem;
  opacity: 0.34;
}
.div12 {
  top: 0;
  width: 0.35rem;
}
.div13,
.div14 {
  top: 10.71rem;
  width: 0.28rem;
}
.div14 {
  top: 13.39rem;
  width: 0.37rem;
}
.cursus,
.sed {
  top: 13.36rem;
  text-align: center;
  justify-content: center;
  opacity: 0.34;
}
.cursus {
  position: absolute;
  left: 10.08rem;
  display: flex;
  align-items: center;
  width: 1.87rem;
  height: 0.68rem;
}
.sed {
  left: 4.03rem;
  width: 1.05rem;
}
.elit,
.lec,
.molestie,
.sed {
  position: absolute;
  display: flex;
  align-items: center;
  height: 0.68rem;
}
.molestie {
  top: 13.34rem;
  left: 6.44rem;
  text-align: center;
  justify-content: center;
  width: 2.29rem;
}
.elit,
.lec {
  top: 13.36rem;
  opacity: 0.34;
}
.elit {
  left: 13.32rem;
  text-align: center;
  justify-content: center;
  width: 0.83rem;
}
.lec {
  left: 1.7rem;
  width: 0.98rem;
}
.frameChild5 {
  position: absolute;
  height: 81.56%;
  width: 73.77%;
  top: 18.44%;
  right: 20.67%;
  bottom: 0;
  left: 5.56%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.67;
}
.ellipseIcon {
  position: absolute;
  top: 1.24rem;
  left: 1.01rem;
  width: 16.99rem;
  height: 11.81rem;
  opacity: 0.34;
}
.frameChild6 {
  position: absolute;
  top: 1.19rem;
  left: 0.97rem;
  width: 17.08rem;
  height: 10.22rem;
}
.frameChild7,
.frameChild8 {
  position: absolute;
  top: 3rem;
  left: 1.7rem;
  width: 12.71rem;
  height: 8.41rem;
}
.frameChild8 {
  top: 0.11rem;
  width: 13.04rem;
  height: 11.3rem;
}
.ellipseDiv,
.frameChild9 {
  position: absolute;
  border-radius: 50%;
  background-color: var(--black);
}
.ellipseDiv {
  top: 0.46rem;
  left: 10.62rem;
  width: 1.44rem;
  height: 1.44rem;
  opacity: 0.2;
}
.frameChild9 {
  top: 0.88rem;
  left: 11.04rem;
  width: 0.62rem;
  height: 0.62rem;
}
.b,
.btc1 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.b {
  top: 0;
  left: 1.28rem;
  width: 3.09rem;
  height: 1.52rem;
}
.btc1 {
  top: 1.39rem;
  left: 0;
  font-size: 0.52rem;
  width: 4.63rem;
  height: 1.46rem;
  opacity: 0.9;
}
.parent4,
.unionIcon {
  position: absolute;
  top: 0.15rem;
  left: 0.48rem;
  width: 0.72rem;
  height: 1.18rem;
}
.parent4 {
  top: 2.43rem;
  left: 2.44rem;
  width: 4.63rem;
  height: 2.85rem;
  text-align: center;
  font-size: 1.26rem;
}
.parent3 {
  position: absolute;
  top: 3.04rem;
  left: 1.13rem;
  width: 18rem;
  height: 14.98rem;
  font-size: 0.57rem;
  color: var(--black);
}
.graph {
  position: relative;
  border-radius: var(--br-8xs-5);
  background-color: var(--main-colors-white);
  box-shadow: 0 3.5999999046325684px 72px rgba(0, 0, 0, 0.04);
  width: 20.25rem;
  height: 18rem;
}
.platform,
.tradeOver2k {
  position: relative;
  line-height: 1.8rem;
}
.tradeOver2k {
  font-size: var(--text-18px-regular-size);
  line-height: 1.88rem;
  font-family: var(--text-26px-regular);
  color: var(--neutral-900);
  display: inline-block;
  width: 15.36rem;
}
.div8,
.text3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text3 {
  width: 15.36rem;
  height: 6.39rem;
  padding: var(--padding-0) var(--padding-0) var(--padding-0) 0;
  box-sizing: border-box;
  justify-content: center;
  gap: var(--gap-smi);
  text-align: center;
  font-size: var(--body-large-regular-size);
  color: var(--black);
  font-family: var(--heading-01);
}
.div8 {
  justify-content: flex-start;
  gap: var(--gap-8xl);
}
.bg,
.div16 {
  position: absolute;
}
.bg {
  top: 0;
  left: 20.25rem;
  border-radius: var(--br-8xs-5);
  background-color: var(--color-gray-400);
  box-shadow: 0 3.5999999046325684px 72px rgba(0, 0, 0, 0.04);
  width: 20.25rem;
  height: 18rem;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.div16 {
  top: 0.75rem;
  left: 7.55rem;
  font-size: var(--font-size-6xs);
  line-height: 145%;
}
.logoactIcon2 {
  position: absolute;
  top: 0.38rem;
  left: 0.86rem;
  width: 1.25rem;
  height: 1.25rem;
  overflow: hidden;
}
.achain2,
.acn2 {
  position: absolute;
  top: 0.59rem;
  left: 2.61rem;
  letter-spacing: 0.01em;
  line-height: 160%;
  color: var(--neutral-400);
}
.achain2 {
  left: 4.05rem;
  color: var(--neutral-grey-6);
}
.parent5 {
  position: absolute;
  top: 5rem;
  left: 3.38rem;
  border-radius: var(--br-7xs);
  background-color: var(--main-colors-white);
  box-shadow: 0 0 6px rgba(82, 53, 232, 0.2);
  width: 10.44rem;
  height: 2rem;
}
.frameChild10 {
  position: absolute;
  width: 13.81%;
  top: 0.58rem;
  right: 14.61%;
  left: 71.58%;
  max-width: 100%;
  overflow: hidden;
  height: 0.8rem;
}

.frameIcon4 {
  position: relative;
  width: 0.5rem;
  height: 0.5rem;
  overflow: hidden;
  flex-shrink: 0;
}
.eth2,
.parent6 {
  position: absolute;
}
.parent6 {
  top: 0.66rem;
  left: 6.89rem;
  width: 2.66rem;
  height: 0.63rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.31rem;
  font-size: var(--font-size-6xs);
}
.eth2 {
  top: 0.59rem;
  left: 2.23rem;
  letter-spacing: 0.01em;
  line-height: 160%;
  color: var(--neutral-400);
}
.logoethIcon2 {
  position: absolute;
  top: 0.38rem;
  left: 0.48rem;
  width: 1.25rem;
  height: 1.25rem;
  overflow: hidden;
}
.ethereum2 {
  position: absolute;
  top: 0.59rem;
  left: 3.67rem;
  letter-spacing: 0.01em;
  line-height: 160%;
  color: var(--neutral-grey-6);
}
.groupParent1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--main-colors-white);
  box-shadow: 0 0 6px rgba(82, 53, 232, 0.2);
  width: 14.63rem;
  height: 2rem;
}
.div18 {
  position: absolute;
  top: 0.66rem;
  left: 8.86rem;
  font-size: var(--font-size-6xs);
  line-height: 145%;
}
.frameIcon5,
.logoognIcon2 {
  position: absolute;
  top: 0.75rem;
  left: 10.42rem;
  width: 0.5rem;
  height: 0.5rem;
  overflow: hidden;
}
.logoognIcon2 {
  top: 0.38rem;
  left: 0.98rem;
  width: 1.25rem;
  height: 1.25rem;
}
.originProtocol2 {
  top: 0.59rem;
  left: 4.17rem;
  letter-spacing: 0.01em;
  line-height: 160%;
  color: var(--neutral-grey-6);
}
.ogn2,
.originProtocol2,
.parent7 {
  position: absolute;
}
.ogn2 {
  top: 0.59rem;
  left: 2.73rem;
  letter-spacing: 0.01em;
  line-height: 160%;
  color: var(--neutral-400);
}
.parent7 {
  top: 2.5rem;
  left: 4.75rem;
  border-radius: var(--br-7xs);
  background-color: var(--main-colors-white);
  box-shadow: 0 0 5px rgba(82, 53, 232, 0.2);
  width: 11.5rem;
  height: 2rem;
}
.frameParent {
  position: absolute;
  top: 5.5rem;
  left: 2rem;
  width: 16.25rem;
  height: 7rem;
}
.swp,
.text4 {
  height: 1.06rem;
}
.swp {
  position: relative;
  line-height: 1.05rem;
  font-weight: 600;
  display: inline-block;
  width: 10.94rem;
  flex-shrink: 0;
}
.text4 {
  position: absolute;
  top: 0.62rem;
  left: 1.13rem;
  width: 18rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-61xl);
  font-size: var(--font-size-mini-4);
  color: var(--main-colors-white);
  font-family: var(--text-26px-regular);
}
.card1 {
  position: relative;
  width: 20.25rem;
  height: 18rem;
}
.saveYourTime {
  position: relative;
  font-size: var(--text-18px-regular-size);
  line-height: 1.88rem;
  font-family: var(--text-26px-regular);
  color: var(--neutral-900);
  display: inline-block;
  width: 17.16rem;
}
.div15,
.text5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text5 {
  width: 17.16rem;
  height: 6.39rem;
  justify-content: center;
  gap: var(--gap-smi);
  text-align: center;
  font-size: var(--body-large-regular-size);
  color: var(--black);
  font-family: var(--heading-01);
}
.div15 {
  justify-content: flex-start;
  gap: var(--gap-8xl);
  font-size: var(--font-size-5xs);
  color: var(--main-colors-black);
  font-family: var(--font-aeonik-pro);
}
.card1Child,
.text6 {
  position: absolute;
  top: 3.94rem;
  left: 1.13rem;
  width: 18rem;
  height: 12.37rem;
}
.text6 {
  top: 0.62rem;
  height: 1.06rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-61xl);
}
.routeAroundMev {
  position: relative;
  font-size: var(--text-18px-regular-size);
  line-height: 1.88rem;
  font-family: var(--text-26px-regular);
  color: var(--neutral-900);
  display: inline-block;
  width: 17.13rem;
}
.text7 {
  width: 17.13rem;
  height: 6.42rem;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-smi);
  text-align: center;
  font-size: var(--body-large-regular-size);
  color: var(--black);
  font-family: var(--heading-01);
}
.content3,
.feature1,
.list,
.text7 {
  display: flex;
  align-items: center;
}
.list {
  width: 72rem;
  height: 26.11rem;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5.63rem;
  text-align: left;
  font-size: var(--font-size-mini-4);
  color: var(--main-colors-white);
  font-family: var(--text-26px-regular);
}
.content3,
.feature1 {
  flex-direction: column;
  box-sizing: border-box;
  justify-content: flex-end;
}
.content3 {
  width: 72rem;
  height: 36.8rem;
  padding: var(--padding-0) var(--padding-0) var(--padding-0) 0;
  gap: 4.63rem;
}
.feature1 {
  position: absolute;
  top: 176.25rem;
  left: calc(50% - 658px);
  border-radius: var(--br-11xl);
  width: 82.25rem;
  height: 47.19rem;
  padding: 4.77rem var(--padding-0);
  background-image: url(/feature@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: var(--font-size-18xl-8);
}
.cantFindWhat {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 140%;
  font-weight: 500;
  z-index: 0;
}
.icon {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
  flex-shrink: 0;
}
.button2 {
  border-radius: var(--br-5xs);
  background-color: var(--main-colors-primary);
  display: flex;
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-5xl);
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  z-index: 1;
  text-align: left;
  font-size: var(--body-medium-regular-size);
}
.patternIcon {
  position: absolute;
  margin: 0 !important;
  top: 59.25rem;
  left: 13rem;
  width: 70rem;
  height: 28.75rem;
  opacity: 0.2;
  z-index: 2;
}
.cta {
  align-self: stretch;
  border-radius: var(--br-5xl);
  background-color: var(--main-colors-black);
  overflow: hidden;
  display: none;
  flex-direction: column;
  padding: var(--padding-45xl) var(--padding-0) var(--padding-61xl);
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-21xl);
}
.joinOurMission,
.joinOurMission1 {
  position: relative;
  display: inline-block;
}
.joinOurMission {
  font-size: var(--heading-h2-size);
  letter-spacing: -0.01em;
  line-height: 140%;
  font-weight: 500;
  width: 25.13rem;
  z-index: 0;
}
.joinOurMission1 {
  letter-spacing: 0.01em;
  line-height: 160%;
  color: var(--neutral-300);
  width: 34rem;
  z-index: 1;
}
.button4 {
  border-radius: var(--br-5xs);
  background-color: var(--main-colors-primary);
  display: flex;
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-5xl);
  align-items: center;
  justify-content: center;
  z-index: 2;
  text-align: left;
}
.patternIcon1 {
  position: absolute;
  margin: 0 !important;
  top: 59.25rem;
  left: 13rem;
  width: 70rem;
  height: 28.75rem;
  opacity: 0.2;
  z-index: 3;
}
.cta1 {
  align-self: stretch;
  border-radius: var(--br-5xl);
  background-color: var(--main-colors-black);
  overflow: hidden;
  display: none;
  flex-direction: column;
  padding: var(--padding-45xl) var(--padding-0) var(--padding-69xl);
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-base);
  font-size: var(--body-medium-regular-size);
}
.gradientIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 91.99rem;
  height: 127.21rem;
}
.mask,
.statisticChild {
  position: absolute;
  background-color: var(--main-colors-white);
}
.mask {
  height: calc(100% - 606.91px);
  width: calc(100% - 266px);
  top: 19.53rem;
  right: 1.59rem;
  bottom: 18.4rem;
  left: 15.03rem;
  border-radius: 6.93px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05), 0 3px 1px rgba(0, 0, 0, 0.02);
  border: 0.5px solid var(--color-gray-500);
  box-sizing: border-box;
  display: none;
}
.statisticChild {
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  width: 56.5rem;
  height: 23.88rem;
}
.monthly {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 135%;
  font-weight: 500;
}
.monthlyParent {
  position: absolute;
  top: 2rem;
  left: 49.19rem;
  border-radius: var(--br-5xs);
  background-color: var(--main-colors-white);
  border: 1px solid var(--neutral-200);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-xs);
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  text-align: center;
  color: var(--main-colors-black);
}
.div20 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 150%;
  font-weight: 500;
}
.lastPrice {
  position: relative;
  font-size: var(--body-medium-regular-size);
  letter-spacing: 0.01em;
  line-height: 160%;
  color: var(--neutral-500);
}
.btcParent,
.frameGroup,
.parent8 {
  width: 5.94rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.btcParent,
.frameGroup {
  width: 6.88rem;
}
.frameGroup {
  position: absolute;
  top: 1.31rem;
  left: 31.19rem;
  width: 15rem;
  height: 3.88rem;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-16xl);
  font-size: var(--heading-h4-size);
}
.usdbtc {
  position: relative;
  line-height: 145%;
  font-weight: 500;
}
.frameChild11 {
  position: relative;
  width: 1rem;
  height: 1rem;
}
.usdbtcParent {
  position: absolute;
  top: 2rem;
  left: 1.5rem;
  width: 5.63rem;
  height: 1.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--body-small-medium-size);
}
.rectangle {
  position: relative;
  background-color: var(--neutral-50);
  width: 0.09rem;
  height: 15rem;
}
.rectangleGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-81xl);
}
.rectangle10 {
  position: relative;
  background-color: var(--neutral-50);
  width: 0.09rem;
  height: 52.69rem;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.rectangleContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-27xl);
  margin-left: -57.06rem;
}
.frameContainer,
.parent9 {
  position: absolute;
  top: 5.5rem;
  left: 2rem;
  width: 57.19rem;
  height: 15rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.parent9 {
  top: 6rem;
  left: 52.88rem;
  width: 2.13rem;
  height: 13.31rem;
  flex-direction: column;
  gap: var(--gap-13xl);
  color: var(--neutral-400);
}
.jan {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 135%;
}
.janParent {
  position: absolute;
  top: 21.5rem;
  left: 3.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-25xl);
  color: var(--neutral-400);
}
.frameChild12,
.frameChild13 {
  position: relative;
  border-radius: var(--br-12xs);
  background-color: var(--states-success);
  width: 0.13rem;
  height: 5rem;
}
.frameChild13 {
  border-radius: var(--br-9xs);
  width: 0.5rem;
  height: 3.38rem;
  margin-top: -4.5rem;
}
.rectangleParent1 {
  position: absolute;
  top: 2.44rem;
  left: 39rem;
  width: 0.5rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.frameChild14,
.frameChild15 {
  position: relative;
  border-radius: var(--br-12xs);
  background-color: var(--states-error);
  width: 0.13rem;
  height: 5rem;
}
.frameChild15 {
  border-radius: var(--br-9xs);
  width: 0.5rem;
  height: 3.38rem;
  margin-top: -4.5rem;
}
.rectangleParent2,
.rectangleParent3,
.rectangleParent4,
.rectangleParent5,
.rectangleParent6,
.rectangleParent7 {
  position: absolute;
  top: 5.5rem;
  left: 45rem;
  width: 0.5rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.rectangleParent3,
.rectangleParent4,
.rectangleParent5,
.rectangleParent6,
.rectangleParent7 {
  top: 2.19rem;
  left: 28.5rem;
}
.rectangleParent4,
.rectangleParent5,
.rectangleParent6,
.rectangleParent7 {
  top: 1.63rem;
  left: 37.5rem;
}
.rectangleParent5,
.rectangleParent6,
.rectangleParent7 {
  top: 4.69rem;
  left: 43.5rem;
}
.rectangleParent6,
.rectangleParent7 {
  top: 3.19rem;
  left: 9rem;
}
.rectangleParent7 {
  top: 2rem;
  left: 6rem;
}
.frameChild26,
.frameChild27 {
  position: relative;
  border-radius: var(--br-12xs);
  background-color: var(--states-success);
  width: 0.13rem;
  height: 7.75rem;
}
.frameChild27 {
  border-radius: var(--br-9xs);
  width: 0.5rem;
  height: 3.38rem;
  margin-top: -7.25rem;
}
.rectangleParent8 {
  position: absolute;
  top: 1.06rem;
  left: 7.5rem;
  width: 0.5rem;
  height: 7.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.frameChild28,
.frameChild29 {
  position: relative;
  border-radius: var(--br-12xs);
  background-color: var(--states-error);
  width: 0.13rem;
  height: 6.44rem;
}
.frameChild29 {
  border-radius: var(--br-9xs);
  width: 0.5rem;
  height: 3.38rem;
  margin-top: -5.94rem;
}
.rectangleParent10,
.rectangleParent9 {
  position: absolute;
  top: 3.31rem;
  left: 1.5rem;
  width: 0.5rem;
  height: 6.44rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.rectangleParent10 {
  top: 4.5rem;
  left: 18rem;
  height: 5rem;
}
.frameChild33 {
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--states-success);
  width: 0.5rem;
  height: 2.5rem;
  margin-top: -3.75rem;
}
.rectangleParent11 {
  position: absolute;
  top: 1.56rem;
  left: 24rem;
  width: 0.5rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  padding: var(--padding-0) var(--padding-0) var(--padding-xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-end;
}
.frameChild34,
.frameChild35 {
  position: relative;
  border-radius: var(--br-12xs);
  background-color: var(--states-success);
  width: 0.13rem;
  height: 7.5rem;
}
.frameChild35 {
  border-radius: var(--br-9xs);
  width: 0.5rem;
  height: 2rem;
  margin-top: -3.75rem;
}
.rectangleParent12 {
  position: absolute;
  top: 0;
  left: 22.5rem;
  width: 0.5rem;
  height: 7.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.frameChild36,
.frameChild37 {
  position: relative;
  border-radius: var(--br-12xs);
  background-color: var(--states-success);
  width: 0.13rem;
  height: 4.5rem;
}
.frameChild37 {
  border-radius: var(--br-9xs);
  width: 0.5rem;
  height: 1.69rem;
  margin-top: -4.25rem;
}
.rectangleParent13 {
  position: absolute;
  top: 3.13rem;
  left: 31.5rem;
  width: 0.5rem;
  height: 4.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.frameChild38,
.frameChild39 {
  position: relative;
  border-radius: var(--br-12xs);
  background-color: var(--states-error);
  width: 0.13rem;
  height: 4.5rem;
}
.frameChild39 {
  border-radius: var(--br-9xs);
  width: 0.5rem;
  height: 1.69rem;
  margin-top: -4.25rem;
}
.rectangleParent14 {
  position: absolute;
  top: 2.56rem;
  left: 40.5rem;
  width: 0.5rem;
  height: 4.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.frameChild40,
.frameChild41 {
  position: relative;
  border-radius: var(--br-12xs);
  background-color: var(--states-error);
  width: 0.13rem;
  height: 3.44rem;
}
.frameChild41 {
  border-radius: var(--br-9xs);
  width: 0.5rem;
  height: 1.69rem;
  margin-top: -3.19rem;
}
.rectangleParent15 {
  position: absolute;
  top: 3.31rem;
  left: 33rem;
  width: 0.5rem;
  height: 3.44rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.frameChild42,
.frameChild43 {
  position: relative;
  border-radius: var(--br-12xs);
  background-color: var(--states-success);
  width: 0.13rem;
  height: 3.44rem;
}
.frameChild43 {
  border-radius: var(--br-9xs);
  width: 0.5rem;
  height: 1.69rem;
  margin-top: -3.19rem;
}
.rectangleParent16,
.rectangleParent17,
.rectangleParent18 {
  position: absolute;
  top: 2.75rem;
  left: 42rem;
  width: 0.5rem;
  height: 3.44rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.rectangleParent17,
.rectangleParent18 {
  top: 5.25rem;
  left: 16.5rem;
}
.rectangleParent18 {
  top: 2.06rem;
  left: 27rem;
}
.frameChild49 {
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--states-error);
  width: 0.5rem;
  height: 1.69rem;
  margin-top: -2.12rem;
}
.rectangleParent19 {
  position: absolute;
  top: 4.19rem;
  left: 4.5rem;
  width: 0.5rem;
  height: 3.44rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.frameChild51 {
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--states-success);
  width: 0.5rem;
  height: 2.25rem;
  margin-top: -2.44rem;
}
.rectangleParent20 {
  position: absolute;
  top: 5.19rem;
  left: 34.5rem;
  width: 0.5rem;
  height: 3.44rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.frameChild52,
.frameChild53 {
  position: relative;
  border-radius: var(--br-12xs);
  background-color: var(--states-success);
  width: 0.13rem;
  height: 2.88rem;
}
.frameChild53 {
  border-radius: var(--br-9xs);
  width: 0.5rem;
  height: 1.25rem;
  margin-top: -2.44rem;
}
.rectangleParent21,
.rectangleParent22,
.rectangleParent23,
.rectangleParent24 {
  position: absolute;
  top: 5.63rem;
  left: 36rem;
  width: 0.5rem;
  height: 2.88rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.rectangleParent22,
.rectangleParent23,
.rectangleParent24 {
  top: 4.56rem;
  left: 30rem;
}
.rectangleParent23,
.rectangleParent24 {
  top: 4.06rem;
  left: 10.5rem;
}
.rectangleParent24 {
  top: 1.94rem;
  left: 25.5rem;
}
.frameChild61 {
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--states-error);
  width: 0.5rem;
  height: 1rem;
  margin-top: -3.06rem;
}
.rectangleParent25,
.rectangleParent26 {
  position: absolute;
  top: 3.13rem;
  left: 21rem;
  width: 0.5rem;
  height: 3.44rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.rectangleParent26 {
  top: 5.88rem;
  left: 15rem;
}
.frameChild64,
.frameChild65 {
  position: relative;
  border-radius: var(--br-12xs);
  background-color: var(--states-error);
  width: 0.13rem;
  height: 4.38rem;
}
.frameChild65 {
  border-radius: var(--br-9xs);
  width: 0.5rem;
  height: 1rem;
  margin-top: -3.81rem;
}
.rectangleParent27 {
  position: absolute;
  top: 6.38rem;
  left: 13.5rem;
  width: 0.5rem;
  height: 4.38rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.frameChild66,
.frameChild67 {
  position: relative;
  border-radius: var(--br-12xs);
  background-color: var(--states-success);
  width: 0.13rem;
  height: 6.13rem;
}
.frameChild67 {
  border-radius: var(--br-9xs);
  width: 0.5rem;
  height: 1rem;
  margin-top: -4.75rem;
}
.rectangleParent28 {
  position: absolute;
  top: 4.88rem;
  left: 0;
  width: 0.5rem;
  height: 6.13rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.frameChild68,
.frameChild69 {
  position: relative;
  border-radius: var(--br-12xs);
  background-color: var(--states-error);
  width: 0.13rem;
  height: 2.5rem;
}
.frameChild69 {
  border-radius: var(--br-9xs);
  width: 0.5rem;
  height: 1rem;
  margin-top: -2.12rem;
}
.rectangleParent29 {
  position: absolute;
  top: 3.63rem;
  left: 19.5rem;
  width: 0.5rem;
  height: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.frameChild70,
.frameChild71 {
  position: relative;
  border-radius: var(--br-12xs);
  background-color: var(--states-success);
  width: 0.13rem;
  height: 2.5rem;
}
.frameChild71 {
  border-radius: var(--br-9xs);
  width: 0.5rem;
  height: 1rem;
  margin-top: -2.12rem;
}
.rectangleParent30,
.rectangleParent31 {
  position: absolute;
  top: 3.75rem;
  left: 3rem;
  width: 0.5rem;
  height: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.rectangleParent31 {
  top: 6.94rem;
  left: 12rem;
}
.frameParent1,
.statistic {
  position: absolute;
  top: 7.13rem;
  left: 30.13rem;
  width: 45.5rem;
  height: 11rem;
}
.statistic {
  top: 1.69rem;
  left: -28.69rem;
  width: 75.63rem;
  height: 23.88rem;
}
.frame3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-21xl);
  background-color: var(--main-colors-white);
  border: 8px solid var(--main-colors-black);
  box-sizing: border-box;
  width: 20rem;
  height: 43.31rem;
  overflow: hidden;
}
.quantstampQspIcon {
  position: relative;
  width: 3rem;
  height: 3rem;
  display: none;
  z-index: 7;
}
.cryptoIcon,
.logoxrpIcon {
  position: relative;
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  flex-shrink: 0;
  margin-left: -0.25rem;
}
.logoxrpIcon {
  display: none;
  z-index: 6;
}
.cryptoIcon {
  z-index: 5;
}
.cryptoIcon1,
.cryptoIcon2,
.cryptoIcon3 {
  position: relative;
  width: 3.13rem;
  height: 3.13rem;
  z-index: 4;
  margin-left: -0.25rem;
}
.cryptoIcon2,
.cryptoIcon3 {
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 3;
}
.cryptoIcon3 {
  z-index: 2;
}
.cryptoIcon4,
.swipeSxpIcon {
  position: relative;
  width: 3.13rem;
  height: 3.13rem;
  z-index: 1;
  margin-left: -0.25rem;
}
.swipeSxpIcon {
  width: 3rem;
  height: 3rem;
  display: none;
  z-index: 0;
}
.coins,
.right1 {
  position: absolute;
}
.coins {
  top: 1.81rem;
  left: 22.69rem;
  width: 8.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.right1 {
  right: 4rem;
  bottom: 0;
  width: 33.75rem;
  height: 21rem;
  overflow: hidden;
}
.cryptocurrencies {
  color: var(--color-lavender-200);
}
.tradeMoreThanContainer1 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 140%;
  display: inline-block;
  width: 26.88rem;
}
.startTrading {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 160%;
  font-weight: 600;
}
.button6 {
  border-radius: var(--br-49xl);
  background-color: var(--main-colors-white);
  border: 1px solid var(--primary-shades-400);
  display: flex;
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-5xl);
  align-items: center;
  justify-content: center;
  font-size: var(--body-medium-regular-size);
  color: var(--neutral-grey-6);
}
.text8 {
  position: absolute;
  top: 5.5rem;
  left: 6.25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  font-size: var(--font-size-18xl-8);
  color: var(--main-colors-white);
  font-family: var(--heading-01);
}
.cta2 {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-5xl);
  background-color: var(--color-darkslateblue-100);
  height: 25rem;
  overflow: hidden;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--body-xsmall-regular-size);
  color: var(--neutral-900);
}

.ctaFooter {
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
}
.footer {
  border-radius: var(--br-11xl);
  width: 82.25rem;
  height: 16rem;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-45xl) var(--padding-81xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-153xl);
  font-size: var(--body-small-medium-size);
  color: var(--neutral-900);
  font-family: var(--text-26px-regular);
}
.ctaFooter {
  position: absolute;
  top: 223.44rem;
  left: 0;
  box-shadow: 0 4px 200px rgba(232, 249, 247, 0.2);
  width: 90rem;
  flex-direction: column;
  padding: var(--padding-81xl) var(--padding-43xl);
  align-items: center;
  justify-content: center;
  gap: var(--gap-45xl);
  text-align: center;
  font-size: var(--heading-h2-size);
  color: var(--main-colors-white);
  font-family: var(--body-xsmall-regular);
}
.defipeHomeChild,
.defipeHomeItem {
  position: absolute;
  top: 141.81rem;
  left: 75.69rem;
  width: 5.85rem;
  height: 5.85rem;
}
.defipeHomeItem {
  top: 155.31rem;
  left: 74.81rem;
}
.defipeHome {
  position: relative;
  background-color: var(--main-colors-white);
  width: 100%;
  height: 280.94rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--main-colors-black);
  font-family: var(--heading-01);
}

/* This is for mobile  */
@media only screen and (max-width: 700px) {
}

@media only screen and (max-width: 600px) and (min-width: 400px) {
}
