.header {
    top: 0;
    /* left: calc(50% - 720px); */
    position: absolute;
    background-color: var(--main-colors-white);
    width: 100%;
    height: 72.88rem;
    font-size: var(--body-medium-regular-size);
    color: var(--greyscale-600);
    font-family: var(--text-26px-regular);
  }

  .defipeHome {
    position: relative;
    background-color: var(--main-colors-white);
    width: 100%;
    height: 280.94rem;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-29xl);
    color: var(--main-colors-black);
    font-family: var(--heading-01);
  }